.jumbotron.hello-world
  Mustache Man Brewing Co. isn't a real company...yet. We are dedicated to the love of beer and are currently brewing our beer out of Jeff's garage.
  %p
    %a.btn.btn-primary.btn-lg{href: 'https://www.facebook.com/MustacheManBrewingCompany', target: "_blank"} Learn More
